.rating-1 {
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #42dc38;
    background-color: #42dc38;
}

.rating-2 {
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #91dd8c;
    background-color: #91dd8c;
}

.rating-3 {
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgb(247, 210, 46);
    background-color: rgb(247, 210, 46);
}

.rating-4 {
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgb(255, 99, 99);
    background-color: rgb(255, 99, 99);
}

.rating-5 {
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
}
